/* http://www.positioniseverything.net/easyclearing.html */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
.clearfix {display: block;}
* html .clearfix {height: 1%;}
/* end hide from IE-mac */

html * { padding:0; margin:0; }
body * * { padding:0; }
body {
    font: small "Lucida Grande", "Lucida Sans", verdana, sans-serif;
    background: #E5E5E5;
}
h1 a { color: inherit; text-decoration: none; }
h2 span { font-size:80%; color:#666; font-weight:normal; }

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6, p, ul,
table, form, pre, ol { margin-bottom: 20px; }
ol, ul { margin: 0 0 20px 20px; }
ol { margin-left: 30px; }

a { color: #333; }
a:visited { color: inherit; }

pre {
    display: block;
    white-space: pre-wrap;       /* CSS-3                  */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999    */
    white-space: -pre-wrap;      /* Opera 4-6              */
    white-space: -o-pre-wrap;    /* Opera 7                */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

img {
    max-width: 100%;
}

h1, h2, h3 {
    color: #ff7824;
}

#container {
    position: relative;
    margin: 10px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    max-width: 600px;
    padding: 20px 20px 0;
    background: #fff;
}
#footer {
    padding: 0 20px 0;
}

.progress-bar {
    height: 1.4em;
    background-color: #fff;
    position: relative;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid #fff;
}

.progress-bar div {
    -moz-border-radius: 8px;
    border-radius: 8px;
    height: 1.4em;
    background-color: #ff7824;
}

.progress-bar strong {
    -moz-border-radius: 8px;
    border-radius: 8px;
    height: 1.4em;
    display: block;
    vertical-align: middle;
    line-height: 1.8em;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: #ff7824;
    font-size: 10px;
    text-align: center;
}

#now-playing {
    position: relative;
    margin-bottom: 10px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: #ff7824;
    color: #fff;
    padding: 10px;
    margin-bottom: 30px;
}
#now-playing .progress-bar {
    margin-left: 20px;
}
#now-playing .song-action {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 4px 0;
    text-align: center;
}
#now-playing .song-action a {
    margin: auto;
    display: block;
}
#now-playing .song-action .play-button {
    border-color: transparent transparent transparent #fff;
    border-style: solid;
    border-width: 8px 0 8px 12px;
    text-indent: -9999px;
    height: 0;
    width: 0;
}
#now-playing .song-action .play-button:hover {
    border-color: transparent transparent transparent #5A7C9D;
}
#now-playing .song-action .pause-button {
    border-color:transparent #fff;
    border-style:solid;
    border-width:0 4px 0;
    height:13px;
    text-indent:-9999px;
    width:4px;
}
#now-playing .song-action .pause-button:hover {
    border-color: transparent #5A7C9D;
}

#now-playing .song-name {
    margin-bottom: 5px;
    overflow: hidden;
    white-space: nowrap;
    font-weight: bold;
    font-size: 16px;
    height: 20px;
}
#now-playing .song-album {
    margin-bottom: 15px;
    height: 18px;
}
#now-playing .song-pos {
    float: right;
    height: 18px;
}
#search input[type=text] {
    width: 100%;
    padding: 5px;
    font-size: 1em;
    background: #eee;
    border: 0;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.playlist li.active {
    font-weight: bold;
}
.playlist {
    line-height: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}
thead th {
    border-bottom: 5px solid #ddd;
}
tbody tr:nth-child(even) {
    background: #f0f0f0;
}
th, td {
    padding: 5px;
    text-align: left;
}