body {
    padding-top: 60px;
}

.progress-bar {
    height: 1em;
    background-color: #fff;
    position: relative;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid #fff;
}

.progress-bar div {
    -moz-border-radius: 8px;
    border-radius: 8px;
    height: 100%;
    background-color: #339bb9;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#5bc0de), to(#339bb9));
    background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
    background-image: -ms-linear-gradient(top, #5bc0de, #339bb9);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5bc0de), color-stop(100%, #339bb9));
    background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
    background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
    background-image: linear-gradient(top, #5bc0de, #339bb9);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#339bb9', GradientType=0);
}

.progress-bar strong {
    -moz-border-radius: 8px;
    border-radius: 8px;
    height: 100%
    display: block;
    vertical-align: middle;
    line-height: 1.8em;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: #ff7824;
    font-size: 10px;
    text-align: center;
}

#now-playing {
    position: relative;
    margin-bottom: 10px;
    color: #fff;
    padding: 10px;
    margin-bottom: 30px;
    background-color: #339bb9;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#5bc0de), to(#339bb9));
    background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
    background-image: -ms-linear-gradient(top, #5bc0de, #339bb9);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5bc0de), color-stop(100%, #339bb9));
    background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
    background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
    background-image: linear-gradient(top, #5bc0de, #339bb9);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#339bb9', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #339bb9 #339bb9 #22697d;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border-width: 1px;
    border-style: solid;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}
#now-playing .progress-bar {
    margin-left: 20px;
}
#now-playing .song-name {
    width: 420px;
    overflow: hidden;
    font-weight: bold;
    color: #404040;
}
#now-playing .volume-bar {
    width: 150px;
    height: 5px;
    position: absolute;
    right: 10px;
    top: 16px;
}
#now-playing .song-action {
    position: absolute;
    bottom: 8px;
    left: 10px;
    padding: 4px 0;
    text-align: center;
}
#now-playing .song-action a {
    margin: auto;
    display: block;
}
#now-playing .song-action .play-button {
    border-color: transparent transparent transparent #fff;
    border-style: solid;
    border-width: 8px 0 8px 12px;
    text-indent: -9999px;
    height: 0;
    width: 0;
}
#now-playing .song-action .play-button:hover {
    border-color: transparent transparent transparent #5A7C9D;
}
#now-playing .song-action .pause-button {
    border-color:transparent #fff;
    border-style:solid;
    border-width:0 4px 0;
    height:13px;
    text-indent:-9999px;
    width:4px;
}
#now-playing .song-action .pause-button:hover {
    border-color: transparent #5A7C9D;
}

#now-playing .song-name {
    margin-bottom: 5px;
    overflow: hidden;
    white-space: nowrap;
    font-weight: bold;
    font-size: 16px;
    height: 20px;
}
#now-playing .song-album {
    margin-bottom: 15px;
    height: 18px;
}
#now-playing .song-pos {
    float: right;
    height: 18px;
}
#search input[type=text] {
    padding: 5px;
    font-size: 1em;
    background: #eee;
    border: 0;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.playlist li.active {
    font-weight: bold;
}
.playlist {
    line-height: 20px;
}
