<DOCTYPE html>
<html>
    <head>
        <title>
            {% if current_song %}
            {{ current_song.artist }} - {{ current_song.title }} |
            {% endif %}
            Playa
        </title>
        <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='playa.css') }}"/>
        <script>
        var Playa = {};
        Playa.apiUrlMap = {
            'now_playing': '{{ url_for('now_playing') }}',
            'stop_playing': '{{ url_for('stop_playing') }}',
            'start_playing': '{{ url_for('start_playing') }}'
        };
        </script>
        <script src="{{ url_for('static', filename='jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='playa.js') }}"></script>
    </head>
    <body>
        <div id="container">
            <div class="clearfix">
                {% if not player.is_ready() %}
                    <p>Please wait while Playa loads...</p>
                {% else %}
                    <p id="nav">
                        <span class="total-songs">{{ total_songs }} tracks{% if playlist_songs %} ({{ playlist_songs }} in playlist){% endif %}</span>
                        <a href="{{ url_for('index') }}">Home</a> | <a href="{{ url_for('artists') }}">Artists</a> | <a href="{{ url_for('genres') }}">Genres</a> | <a href="{{ url_for('search') }}">Search</a>
                    </p>
                    <div id="now-playing">
                        <div class="song-action">
                            {% if now_playing.playing %}
                                <a href="{{ url_for('stop_playing') }}" class="pause-button">Pause</a>
                            {% else %}
                                <a href="{{ url_for('start_playing') }}" class="play-button">Play</a>
                            {% endif %}
                        </div>
                        {% if now_playing.title %}
                            <div class="song-name">{{ now_playing.title }}</div>
                            <div class="song-pos">-{{ (now_playing.duration - now_playing.position)|duration }}</div>
                            <div class="song-album">{{ now_playing.album or '' }}</div>
                            <div class="progress-bar">
                                <div style="width: {{ now_playing.position / now_playing.duration * 100 }}%"></div>
                            </div>
                        {% else %}
                            <div class="song-name"></div>
                            <div class="song-pos"></div>
                            <div class="song-album"></div>
                            <div class="progress-bar">
                                <div style="width:0"></div>
                            </div>
                        {% endif %}
                    </div>
                    {% block body %}{% endblock %}
                {% endif %}
            </div>
        </div>
        <div id="footer">
            <div class="container">
                Playa | Conjured up by the <a href="http://code.disqus.com">DISQUS</a> team and other noble <a href="https://github.com/disqus/playa/contributors">sorcerers</a>.
            </div>
        </div>
    </body>
</html>