{% extends "base.html" %}

{% block body %}
    <form method="POST" action="/play/random">
        <input type="submit" value="Queue Random Track"/>
    </form>
    <form method="POST" action="/play/next">
        <input type="submit" value="Skip Current Track"/>
    </form>
    <form method="POST" action="/stop">
        <input type="submit" value="Stop Music"/>
    </form>
    
    <form method="GET" action="/search">
        <input type="text" name="q" value="{{ query or '' }}"/> <input type="submit" value="Search"/>
    </form>
    
    <h2>Upcoming</h2>
    <ol>
        {% for song in player.list_upcoming() %}
            <li>{{ song }}</li>
        {% endfor %}
        <li><em>(Random track)</em></li>
    </ol>
{% endblock %}