{% extends "base.html" %}

{% block body %}
    <p><a href="{{ url_for('next_track') }}">Skip Track</a></p>
    <form method="GET" action="/search">
        <input type="text" name="q" value="{{ query or '' }}"/> <input type="submit" value="Search"/>
    </form>
    
    {% if player.has_playlist() %}
        <h2>Upcoming</h2>
        <ol class="playlist" start="{{ player.get_playlist_offset() + 1 }}">
            {% for num, song, is_playing in player.list_playlist(with_playing=True, limit=10) %}
                <li{% if is_playing %} class="active"{% endif %}>{{ song }}</li>
            {% endfor %}
        </ol>
    {% endif %}
{% endblock %}