{% extends "base.html" %}

{% block body %}
    <form method="GET" action="{{ url_for('search') }}" id="search">
        <input type="text" name="q" value="{{ query or '' }}" placeholder="search music"/>
    </form>

    {% if query %}
        <h2>Results (top 100)</h2>
        {% if results %}
        <form method="POST" action="{{ url_for('play_filename') }}" id="results">
            <table>
                <thead>
                    <tr>
                        <th style="width:16px"><input type="checkbox"/></th>
                        <th>Song</th>
                        <th style="width:100px;text-align:right"><input type="submit" value="Add to Queue"/></th>
                    </tr>
                </thead>
                <tbody>
                    {% for filename, metadata in results %}
                        <tr>
                            <td><input type="checkbox" name="filename" value="{{ filename }}"/></td>
                            <td colspan="2">{{ filename|song_title }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
        {% endif %}
    {% endif %}
{% endblock %}