{% extends "base.html" %}

{% block body %}
    {% if query %}
        <h2>Results <small>Best matches for <strong>{{ query }}</strong></small></h2>
        {% if results %}
        <form method="POST" action="{{ url_for('play_filename') }}" id="results">
            <table>
                <thead>
                    <tr>
                        <th style="width:16px"><input type="checkbox"/></th>
                        <th>Song</th>
                        <th style="width:100px;text-align:right"><input type="submit" class="btn" value="Add to Queue"/></th>
                    </tr>
                </thead>
                <tbody>
                    {% for filename, metadata in results %}
                        <tr>
                            <td><input type="checkbox" name="filename" value="{{ filename }}"/></td>
                            <td>{{ filename|song_title }}</td>
                            <td style="text-align:right;"><a class="btn btn-queue" data-filename="{{ filename }}">+</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
        {% endif %}
    {% endif %}
{% endblock %}