{% extends "base.html" %}

{% block title %}{{ artist }} | {% endblock %}

{% block body %}
    <h2>{{ artist }} <small>Artist Details</small></h2>
    {% if albums %}
        <h3>Albums</h3>
        <form method="POST" action="{{ url_for('play_album') }}">
            <input type="hidden" name="artist" value="{{ artist }}"/>
            <table>
                <thead>
                    <tr>
                        <th style="width:16px"><input type="checkbox"/></th>
                        <th>Album</th>
                        <th style="width:100px;text-align:right"><input type="submit" class="btn" value="Add to Queue"/></th>
                    </tr>
                </thead>
                <tbody>
                    {% for album, song_count in albums.iteritems() %}
                        <tr>
                            <td><input type="checkbox" name="album" value="{{ album }}"/></td>
                            <td colspan="2">{{ album }}<br/><small>{{ song_count }} song{% if song_count != 1 %}s{% endif %}</small></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
    {% endif %}
    <h3>Songs</h3>
    <form method="POST" action="{{ url_for('play_filename') }}">
        <table>
            <thead>
                <tr>
                    <th style="width:16px"><input type="checkbox"/></th>
                    <th>Song</th>
                    <th style="width:100px;text-align:right"><input type="submit" class="btn" value="Add to Queue"/></th>
                </tr>
            </thead>
            <tbody>
                {% for filename in songs %}
                    <tr>
                        <td><input type="checkbox" name="filename" value="{{ filename }}"/></td>
                        <td colspan="2">{{ filename|song_title }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
{% endblock %}