{% extends "base.html" %}

{% block body %}
    <h2>Genre: {{ genre }}</h2>
    <form method="POST" action="{{ url_for('play_filename') }}" id="results">
        <table>
            <thead>
                <tr>
                    <th style="width:16px"><input type="checkbox"/></th>
                    <th>Song</th>
                    <th style="width:100px;text-align:right"><input type="submit" value="Add to Queue"/></th>
                </tr>
            </thead>
            <tbody>
                {% for filename in songs %}
                    <tr>
                        <td><input type="checkbox" name="filename" value="{{ filename }}"/></td>
                        <td colspan="2">{{ filename|song_title }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
{% endblock %}